# Entorno virtual
.venv/
.env
Fisica.code-workspace

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración de editor
.vscode/

# Archivos de pruebas temporales
*.log

# Carpeta de ejercicios
ARIKETAK/

# Otros Archvivos
OTHERS/

pyhsics/linalg/_pruebas

.gitignore

main_deugger.py
